.header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  margin-bottom: 20px;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: 0px 10px 30px rgba(71, 24, 165, 0.5);
  z-index: 10;
}

.section {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  margin-top: 80px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  font-weight: 700;
  font-size: 30px;
}
.header__link {
  color: white;
}
.header__link:hover,
.header__link:focus {
  color: #5cd3a8;
  box-shadow: 0px 5px 5px rgba(10, 85, 110, 0.25);
}
