.title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
}

.image {
  display: block;
  width: 400px;
  height: 200px;
  margin: 40px auto;
}
.text {
  width: 800px;
  font-weight: 600;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
